[submodule "thirdparty/Brioche"]
	path = thirdparty/Brioche
	url = git@github.com:HanetakaChou/Brioche.git
	branch = master
[submodule "thirdparty/ConvertUTF"]
	path = thirdparty/ConvertUTF
	url = git@github.com:HanetakaChou/Import-Asset.git
	branch = ConvertUTF
[submodule "thirdparty/CoreRT"]
	path = thirdparty/CoreRT
	url = git@github.com:HanetakaChou/Import-Asset.git
	branch = CoreRT
[submodule "thirdparty/DirectXMath"]
	path = thirdparty/DirectXMath
	url = git@github.com:HanetakaChou/Import-Asset.git
	branch = DirectXMath
[submodule "thirdparty/DLB"]
	path = thirdparty/DLB
	url = git@github.com:HanetakaChou/Dual-Quaternion-Linear-Blending.git
	branch = release
[submodule "thirdparty/DXUT"]
	path = thirdparty/DXUT
	url = git@github.com:HanetakaChou/Import-Asset.git
	branch = DirectXMath
[submodule "thirdparty/Import-Asset"]
	path = thirdparty/Import-Asset
	url = git@github.com:HanetakaChou/Import-Asset.git
	branch = master
