<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.GitHub.HanetakaChou.glTFViewer">
	<uses-sdk android:minSdkVersion="28" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:hasCode="false">
		<meta-data android:name="com.android.graphics.injectLayers.enable" android:value="true" />
		<activity android:name="android.app.NativeActivity" android:exported="true" android:theme="@style/LocalTheme"
			android:screenOrientation="landscape"
			android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode">
			<meta-data android:name="android.app.lib_name" android:value="NativeActivity" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file" />
				<data android:scheme="content" />
				<data android:mimeType="model/gltf+json" />
				<data android:pathPattern=".*\\.gltf" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file" />
				<data android:scheme="content" />
				<data android:mimeType="model/gltf-binary" />
				<data android:pathPattern=".*\\.glb" />
			</intent-filter>
		</activity>
	</application>
</manifest>